
.header a {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  text-decoration: inherit;
  padding: 7px;

}
.header a:hover {

  color: #123524;
  font-weight: 600;
  filter: drop-shadow(0 0 2em #646cffaa);

}
nav
{
  overflow: auto;
  display: flex;
  justify-content: space-evenly;
}

/*body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}*/
#header
{
  width: 100%;

  color: #ffffff;
  background-color: #a3a2a2;
  display: flex;
  justify-content: space-around;
  align-items:baseline;
  position: fixed;
  z-index: 1;
  margin-top: -10px;
  overflow: hidden;

}

.searchInput{
  border:none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display:none;
  padding: 10px;
}

.searchButton{
  border:1.5px solid #123524;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #123524;
  color: #ffffff;
  cursor: pointer;
}

.searchButton:hover{
  border:1.5px solid #123524;
  color: #123524;
  background-color: #ffffff;
  cursor: pointer;
}
